[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Application
Exec=kcmshell siduxcc_network

X-KDE-RootOnly=true
X-KDE-Library=siduxcc_network
X-KDE-FactoryName=siduxcc_network
X-KDE-ParentApp=kcontrol

Name=Network
Name[da]=Netværk
Name[de]=Netzwerk
Name[es]=Red
Name[fr]=Réseau
Name[hr]=Mreža
Name[it]=Rete
Name[nl]=Netwerk
Name[ro]=Retea
Name[ru]=Сеть

Comment=Configure your Network
Comment[de]=Netzwerk-Einstellungen

Categories=Qt;KDE;X-KDE-settings-sidux;siduxcc
