[Desktop Entry]
Encoding=UTF-8
Icon=package_system
Type=Application
Exec=su-me kcmshell siduxcc_services

X-KDE-RootOnly=true
X-KDE-Library=siduxcc_services
X-KDE-FactoryName=siduxcc_services
X-KDE-ParentApp=kcontrol

Name=Services
Name[de]=Dienste
Comment=Options for Services
Comment[de]=Dienste-Einstellungen

Categories=Qt;KDE;X-KDE-settings-sidux;siduxcc;
