[Desktop Entry]
Comment=sidux dist-upgrade alerter
Comment[de]=sidux dist-upgrade Warner
Encoding=UTF-8
Exec=siduxcc-hermes
Icon=siduxcc_hermes
Name=Hermes (upgrade sentinel)
Name[de]=Hermes (upgrade Wächter)
Categories=siduxcc;
Type=Application
