[Desktop Entry]
Encoding=UTF-8
Icon=info
Type=Application
Exec=siduxcc_info

Name=System Info
Comment=Information about sidux
Comment[de]=Informationen über sidux

Categories=Qt;KDE;X-KDE-information;siduxcc;
