[Desktop Entry]
Encoding=UTF-8
Exec=su-to-root -X -c /usr/bin/siduxcc-kde
Icon=siduxcc
Name=sidux Control Center
Name[da]=sidux kontrolcenter
Name[de]=sidux Kontrollzentrum
Name[fr]=Centre de Contrôle de Sidux
Name[hr]=sidux-Kontrolni Centar
Name[it]=Centro di controllo di sidux
Name[nl]=sidux-Kontrol Center
Name[ro]=Centrul de control sidux
Name[ru]=Цетр управления sidux
Categories=System;
Type=Application
