[Desktop Entry]
Encoding=UTF-8
Exec=su-to-root -X -c /usr/bin/siduxcc-kde3
Icon=siduxcc
Name=sidux Control Center (KDE3)
Name[da]=sidux kontrolcenter (KDE3)
Name[de]=sidux Kontrollzentrum (KDE3)
Name[fr]=Centre de Contrôle de Sidux (KDE3)
Name[hr]=sidux-Kontrolni Centar (KDE3)
Name[it]=Centro di controllo di sidux (KDE3)
Name[nl]=sidux-Kontrol Center (KDE3)
Name[ro]=Centrul de control sidux (KDE3)
Name[ru]=Цетр управления sidux (KDE3)
Categories=Qt;KDE;System;
Type=Application
