Source: siduxcc
Section: admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 6), automake1.10, kdelibs4-dev, gettext, imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/siduxcc/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/siduxcc/trunk/

Package: siduxcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, siduxcc-common (= ${source:Version}), menu
Recommends: apt-show-versions
Suggests: configure-ndiswrapper
Description: sidux control center (KDE frontend)
 KDE based frontend for managing sidux

Package: siduxcc-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ceni (>= 1.17), gettext-base
Replaces: siduxcc (<< 0.7)
Description: sidux control center (backend and cli tools)
 Common tool backend and command line interface for the sidux control center

