Source: siduxcc
Section: admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), automake1.10, kdelibs4-dev, gettext
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/siduxcc/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/siduxcc/trunk/

Package: siduxcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, configure-networkcard (>= 0.6.31), gettext-base
Recommends: apt-show-versions
Description: sidux control center
 Frontend for managing sidux.
