#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_DESTDIR = $(CURDIR)/debian/tmp/

install/siduxcc-common::
	mkdir -p debian/tmp/usr/share/pixmaps
	
	convert icons/hi32-app-siduxcc.png \
		debian/tmp/usr/share/pixmaps/siduxcc.xpm
	test -r icons/hi32-app-siduxcc.png
	test -r debian/tmp/usr/share/pixmaps/siduxcc.xpm
	
	convert icons/hi16-app-siduxcc.png \
		debian/tmp/usr/share/pixmaps/siduxcc-16.xpm
	test -r icons/hi16-app-siduxcc.png
	test -r debian/tmp/usr/share/pixmaps/siduxcc-16.xpm

create-icons::
	# requires inkscape and imagemagick to be installed
	@if [ ! -x /usr/bin/inkscape ]; then \
		echo "ERROR: inkscape not installed!" ; \
		false ; \
	fi
	
	# create XDG compatible icons from SVG
	for i in 16 22 32 48 64 96; do \
		mkdir -p "icons" ; \
		inkscape --export-width=$${i} \
			 --export-height=$${i} \
			 --export-png="$(CURDIR)/icons/hi$${i}-app-siduxcc.png" \
				"$(CURDIR)/icons/siduxcc.svg" ; \
		test -r "$(CURDIR)/icons/siduxcc.svg" ; \
		test -r "$(CURDIR)/icons/hi$${i}-app-siduxcc.png" ; \
	done
	
	# create GUI icons
	inkscape --export-width=22 \
		 --export-height=22 \
		 --export-png="$(CURDIR)/icons/hi22-app-siduxcc_warning.png" \
		 	"$(CURDIR)/icons/siduxcc_warning.svg"
	test -r "$(CURDIR)/icons/siduxcc_warning.svg"
	test -r "$(CURDIR)/icons/hi22-app-siduxcc_warning.png"
	
	inkscape --export-width=22 \
		 --export-height=22 \
		 --export-png="$(CURDIR)/icons/hi22-app-sidux_book.png" \
		 	"$(CURDIR)/icons/sidux_book.svg"
	test -r "$(CURDIR)/icons/sidux_book.svg"
	test -r "$(CURDIR)/icons/hi22-app-sidux_book.png"
	
	@echo "all PNGs created successfully."
