[Desktop Entry]
Encoding=UTF-8
Icon=hwinfo
Type=Application
Exec=su-me kcmshell siduxcc_hardware

X-KDE-RootOnly=true
X-KDE-Library=siduxcc_hardware
X-KDE-FactoryName=siduxcc_hardware
X-KDE-ParentApp=kcontrol

Name=Drivers
Name[de]=Treiber
Name[fr]=Pilotes
Name[hr]=Pogonitelj
Name[ro]=driver-ul
Name[ru]=драйвера

Comment=Drivers Settings
Comment[de]=Treiber Einstellungen

Categories=Qt;KDE;X-KDE-settings-sidux;siduxcc;
