[Desktop Entry]
Encoding=UTF-8
Icon=siduxcc
Type=Application
Exec=siduxcc-kmain

Name=siduxcc (overview)
Name[de]=siduxcc (Überblick)
Comment=Information about sidux
Comment[de]=Informationen über sidux

Categories=Qt;KDE;siduxcc
