[Desktop Entry]
Encoding=UTF-8
Icon=kscreensaver
Type=Application
Exec=su-me kcmshell siduxcc_display

X-KDE-RootOnly=true
X-KDE-Library=siduxcc_display
X-KDE-FactoryName=siduxcc_display
X-KDE-ParentApp=kcontrol

Name=Display
Name[de]=Anzeige
Name[es]=Pantalla
Name[fr]=Affichage
Name[nl]=Beeld
Name[ro]=Arata
Name[ru]=Дисплей

Comment=Display Settings
Comment[de]=Anzeige-Einstellungen

Categories=Qt;KDE;X-KDE-settings-sidux;siduxcc;
